@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@300;600;700;800&family=Roboto:wght@400;700&display=swap');

body {
    background-image: url(./res/bg-colored.png);
    font-family: 'Open Sans', sans-serif;
}

/*
 * Inside Header {{{
 */

#personal-image {
    height: 14em;
    width: 14em;
}

.header {
    border-radius: 1em;
    background: #2e3440;
    color: #eceff4;
}

.header a {
    color: #88C0D0;
    text-decoration: none;
}

.intro-text {
    width: 75%;
}

.personal-name {
    font: 800 3em 'Open Sans', sans-serif;
    text-align: center;
}

.personal-subtitle {
    font: 600 1.2em 'Open Sans', sans-serif;
}

.personal-desc {
    font-family: 'Open Sans', sans-serif;
}

.introduction, .social-flexbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 1em;
    column-gap: 1em;
    align-items: center;
}

hr {
    width: 80%;
    background-color: white;
    color: white;
}

/* }}}
 *
 *  Actual Content {{{
 */

.flex-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 1em;
    column-gap: 1em;
    align-items: flex-start;
}

.content-card .section .section-title {
    font: 1.5em 'Lobster', cursive;
    text-align: center;
}

.content-card {
    background-color: #d8dee9b0;
    border-radius: 1em;
    max-width: 30em;
}

.content-card .section {
    padding: 1em;
    margin: 1em;
}
