@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@300;400;600;700;800&family=Roboto:wght@400;700&family=Overpass:wght@600&display=swap');
@import url('./nord.css');

body {
    background-image: url(./res/bg-colored.png);
    font-family: 'Open Sans', sans-serif;
}

/*
 * Inside Header {{{
 */

#personal-image {
    height: 14em;
    width: 14em;
}

.header {
    border-radius: 1em;
    background: #2e3440;
    color: #eceff4;
}

.header a {
    color: #88C0D0;
    text-decoration: none;
}

.intro-text {
    width: 75%;
}

.personal-name {
    font: 3em 'Open Sans', sans-serif;
    font-variant: small-caps;
    font-weight: 800;
    text-align: center;
}

.subtitle {
    font: 1.2em 'Overpass', sans-serif;
}

.flex-grid-halfs {
  display: flex;
  justify-content: space-between;
  align-items: center
}
.flex-grid-halfs .col {
  width: 48%;
}

.some-info .col {
    padding: 0.5em 0;
}

.flex-grid-halfs > .col:nth-child(2) {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

#city-ref {
    background-color: #4c566a;
    text-align: center;
    border-radius: 0.3em;
    padding: 0.5em;
    box-shadow: 0 5px 5px 1px #00000044;
    transition: box-shadow 0.3s ease-in-out;
    color: #eceff4;
}
#city-ref:hover {
    box-shadow: 0 8px 5px 2px #00000050;
}

.personal-desc {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.introduction, .social-flexbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 1em;
    column-gap: 1em;
    align-items: center;
}

.header hr {
    width: 80%;
    background-color: white;
    color: white;
}

/* }}}
 *
 *  Actual Content {{{
 */

.flex-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 1em;
    column-gap: 1em;
    align-items: flex-start;
}

.content-card .section .section-title {
    font: 1.5em 'Lobster', cursive;
    text-align: center;
    color: #2e3440;
}

.content-card {
    background-color: #d8dee9b0;
    border-radius: 1em;
    max-width: 30em;
}

.content-card .section {
    padding: 1em;
    margin: 1em;
}

.content-card hr {
    width: 50%;
    /* color: #2e3440; */
    background-color: #2e3440;
}

.section .section-cont {
    color: #2e3440;
}

.section .section-cont a {
    color: #5e81ac;
    text-decoration: none;
}

#prog-table th {
    font: 1.2em "Overpass", sans-serif;
    padding: 0.5em 0 0.5em;
}

#prog-table tr > td:first-child {
    border-right: solid #2e3440;
    border-right-width: 0.1em;
    padding-right: 0.5em;
}

#prog-table tr > td:nth-child(2) {
    padding-left: 0.5em;
}

#prog-table {
    border-collapse: separate;
    border-spacing: 0 0.5em;
}

/* TRIPOLI STUFF */
